
	.recommend_restaurant{
		position:fixed;
		bottom:0px;
		background:url(/image/transparent-bg.png) 0px 0px repeat;
		width:100%;
		z-index:9999;
		display:none;
	}
	.recommend_restaurant_inner{
		width:1000px;
		margin:0px auto;
		padding:15px 0px 20px;
		position:relative;
		z-index:10000;
		color:#fff;
	}
	.recommend_restaurant_inner a{
		color:#fff;
	}
	.recommend_restaurant_inner .close_recommend{
		display:block;
		width:30px;
		font-size:30px;
		line-height:26px;
		text-align:center;
		height:30px;
		background-color:#222;
		filter:alpha(opacity=80);opacity:0.8;
		position:absolute;
		right:0px;
		top:10px;
		color:#aaa;
	}
	.close_recommend:hover{
		background-color:#444;
		color:#fff;
	}
	.restaurant_list_left{
		width:50px;
		float:left;
	}
	.restaurant_list_right{
		width:100px;
		float:left;
	}
	.restaurant_name{
		height:28px;
	}
	.restaurant_list_right .star{padding-bottom:2px;width:70px;}
	.recommend_restaurant_list li.restaurant_item{
		display:block;
		width:160px;
		float:left;
		height:76px;
		padding:15px 12px;
		background-color:#333;
		filter:alpha(opacity=90);opacity:0.9;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		 border-radius:5px;
		 margin-left:20px;
		  -moz-box-shadow:1px 1px 2px #999,-1px 0px 2px #999,inset 0px 2px 8px #111;
		   -webkit-box-shadow:1px 1px 2px #999,-1px 0px 2px #999,inset 0px 2px 8px #111;
		   box-shadow:1px 1px 2px #999,-1px 0px 2px #999,inset 0px 2px 8px #111;
		   cursor:pointer;
	}
	.recommend_restaurant_list li.restaurant_item:first-child{
		margin-left:0px;
	}
.restaurant_list_right span.rest {
background: url(../image/main.png) no-repeat 1px -228px;
display: block;
height: 32px;
width: 48px;
padding-left: 55px;
margin-top: -13px;
}
.restaurant_list_right p.rest{
	margin-top:5px;
	margin-left:5px;
}
	.recommend_restaurant_list li.restaurant_item.active,.recommend_restaurant_list li.restaurant_item:hover{
		background-color:#555;
	}
	.deliver_time{
		line-height:33px;
		padding-left:2px;
	}
	.server_list{
		margin-top:10px;
	}
	.restaurant_list_left a{
		display:block;
		width:43px;
		height:43px;
	}
	.recommend_title{
		font-size:16px;
		font-weight:bold;
		margin-bottom:15px;
	}
	.recommend_title a{
		display:block;
		float:left;
		margin:7px 7px 0px 5px;
	}
	.recommend_title img{
		display:block;
		float:left;
		margin-left:5px;
	}
	.recommend_title span{
		display:block;
		float:left;
		margin-top:10px;
	}
	.recommend_title .c_e3ba07{
		color:#fcd502;
	}
	.get_it{
		cursor:pointer;
	}
	
	.mini_favorable{
		background:url(/image/transparent-bg.png) 0px 0px repeat;
		width:230px;
		position:fixed;
		left:50%;
		bottom:0px;
		margin-left:220px;
		font-size:16px;
		font-weight:bold;
		color:#fcd502;
		padding:8px 20px 5px;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		cursor:pointer;		
	}
	.mini_favorable img{
	float:left;
	}
	.mini_favorable span{
		float:left;
		margin-top:3px;
		margin-left:6px;
	}
	.zhankai{
		float:right;
	}
	.shade{
		width:100%;
		height:100%;
		position:fixed;
		background-color:#000;
		filter:alpha(opacity=40);opacity:0.4;
		top:0px;
		left:0px;
		z-index:10000;
		display:none;
	}
	.popup{
		z-index:10003;
		padding:30px 25px;
		width:365px;
		position:fixed;
		top:50%;
		left:50%;
		background-color:#fff;
		margin-left:-200px;
		margin-top:-170px;
		border:5px solid #d9d8d8;
		display:none;
		-moz-box-shadow:2px 2px 50px #555,-2px -2px 50px #555;
		 -webkit-box-shadow:2px 2px 50px #555,-2px -2px 50px #555;
		 box-shadow:2px 2px 50px #555,-2px -2px 50px #555;
	}
	.popup p{
		font-size:14px;
		font-weight:bold;
		color:#4a7801;
	}
	.i_know{
		font-size:16px;
		font-weight:bold;
		text-align:center;
		display:block;
		border:1px solid #ccc;
		border-radius:4px;
		color:#555;
		background-color: #f0f0f0;
		padding: 9px 0px;
	background-image: linear-gradient(to bottom,#f7f7f7 0,#e4e4e4 100%);
}
	.close_popup{
		font-size:24px;
		position:absolute;
		right:12px;
		top:2px;
		color:#b5b4b4;
	}
	
	.recommend_title .c_bedood {
		color: #bed00d;
	}
	
	.urgency_message
	{
		display:none;
		z-index:10004;
		width:485px;
		position:fixed;
		top:50%;
		left:50%;
		margin-left:-243px;
		margin-top:-170px;		
		-moz-box-shadow:2px 2px 50px #555,-2px -2px 50px #555;
		 -webkit-box-shadow:2px 2px 50px #555,-2px -2px 50px #555;
		 box-shadow:2px 2px 50px #555,-2px -2px 50px #555;
	}
	.urgency_message_top{
		background-color:#f26722;
		padding:40px 31px 25px;
		color:#fff;
	}
	.urgency_message_top_title{
		padding-left:167px;
		padding-bottom:30px;
		background:url(image/urgency_message.png) 117px 0px no-repeat;
		line-height:40px;
		height:40px;
		font-size:34px;
		border-bottom:1px dashed #fff;
	}
	.urgency_message_show{
		font-size:18px;
		line-height:35px;
		text-indent:2em;
		padding:27px 0px 0px;
	}
	.urgency_message_bottom{
		padding:25px 80px 30px;
		background-color:#fce1d3;
	}
	.return_message{
		font-size:16px;
		font-weight:bold;
		text-align:center;
		display:block;
		border:1px solid #ccc;
		border-radius:4px;
		color:#555;
		background-color: #f0f0f0;
		padding: 9px 0px;
	background-image: linear-gradient(to bottom,#f7f7f7 0,#e4e4e4 100%);
}